{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>FitFinder</title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
{% comment %} <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" /> {% endcomment %}
<!-- Plugins CSS -->
<link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
<!-- Bootstap CSS -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<!-- Main Style CSS -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>
<body class="template-index belle template-index-belle">
{% comment %} <div id="pre-loader">
    <img src="{% static '{% static ' %}'assets/images/loader.gif' %}" alt="Loading..." />
</div> {% endcomment %}
<div class="pageWrapper">
	<!--Search Form Drawer-->
	<div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="{% url 'core:search' %}" method="GET">
                <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
            </form>
            <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
        </div>
    </div>
    <!--End Search Form Drawer-->
    <!--Top Header-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
            	<div class="col-10 col-sm-8 col-md-5 col-lg-4">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                	<div class="text-center"><p class="top-header_middle-text"> Worldwide Express Shipping</p></div>
                </div>
                <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                	<span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                    <ul class="customer-links list-inline">
                        {% if request.user.is_authenticated %}
                        {% else %}
                        <li><a href="{% url 'userauthentication:sign-in' %}">Sign In</a></li>
                        <li><a href="{% url 'userauthentication:sign-up' %}">Create Account</a></li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'core:dashboard' %}">My Account</a></li>
                        <li><a href="{% url 'core:wishlist' %}">Wishlist</a></li>
                        <li><a href="{% url 'userauthentication:sign-out' %}">Sign Out</a></li>
                        {% endif %}
                      </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End Top Header-->
    <!--Header-->
    <div class="header-wrap classicHeader animated d-flex" style="padding:10px">
    	<div class="container-fluid">        
            <div class="row align-items-center">
            	<!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="{% url 'core:index' %}">
                    	<img src="{% static 'assets/images/logo.png' %}" alt="FitFinder PNG Image" title="FitFinder PNG Image" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                	<div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        	<i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                	<!--Desktop Menu-->
                	<nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                        <ul id="siteNav" class="site-nav medium center hidearrow">
                            <li class="lvl1 parent megamenu"><a href="{% url 'core:index' %}">Home <i class="anm anm-angle-down-l"></i></a></li>
                            <li class="lvl1 parent megamenu"><a href="{% url 'core:category-list' %}">Category <i class="anm anm-angle-down-l"></i></a></li>
                            <li class="lvl1 parent megamenu"><a href="{% url 'core:product-list' %}">Products <i class="anm anm-angle-down-l"></i></a></li>
                            <li class="lvl1 parent megamenu"><a href="{% url 'core:vendor-list' %}">Shops <i class="anm anm-angle-down-l"></i></a></li>
                            <li class="lvl1 parent megamenu"><a href="{% url 'core:threads-list-view' %}" class="site-nav">Unity Forum </a></li>
                            <li class="lvl1 parent megamenu"><a href="{% url 'core:style-recommendation' %}" class="site-nav">Style Finder </a></li>
                            <li class="lvl1 parent megamenu"><a href="{% url 'core:try_out' %}" class="site-nav">Try Out </a></li>
                        </ul>
                  </nav>
                  <!--End Desktop Menu-->
                </div>

                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                	<div class="logo">
                        <a href="{% url 'core:index' %}">
                            <img src="{% static 'assets/images/logo.png' %}" alt="FitFinder PNG Image" title="FitFinder PNG Image" />
                        </a>
                    </div>
                </div>
                
                

                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
            
                    <div class="site-cart">
                        <button type="button" class="site-header__cart" onclick="location.href='{% url 'core:cart' %}'" style="border: none; background: none;">
                            <i class="icon anm anm-bag-l"></i>
                            <span id="CartCount" class="site-header__cart-count cart-items-count" data-cart-render="item_count">
                                {{ request.session.cart_data_obj|length }}
                            </span>
                        </button>
                    </div>

                    <div class="site-header__search">
                        	<button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                	

                </div>
                
        	</div>
        </div>
    </div>
    <!--End Header-->

    <!-- Start Mobile Menu Header -->

    <!--Mobile Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
		<div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
        <ul id="MobileNav" class="mobile-nav">
          <li class="lvl1 parent megamenu"><a href="{% url 'core:index' %}">Home</a></li>
          <li class="lvl1 parent megamenu"><a href="{% url 'core:category-list' %}">Category </a></li>
          <li class="lvl1 parent megamenu"><a href="{% url 'core:product-list' %}">Products </a></li>
          <li class="lvl1 parent megamenu"><a href="{% url 'core:vendor-list' %}">Shops </a></li>
          <li class="lvl1 parent megamenu"><a href="{% url 'core:threads-list-view' %}">Unity Forum </a></li>
          <li class="lvl1 parent megamenu"><a href="{% url 'core:style-recommendation' %}">Style Finder </a></li>
          <li class="lvl1 parent megamenu"><a href="{% url 'core:try_out' %}">Try Out </a></li>
      </ul>
	</div>
	<!--End Mobile Menu-->

    <!-- End Mobile Menu Header -->

    {% comment %} set alerts for all messages {% endcomment %}
    <div style="padding-top:100px; padding-right:50px; padding-left:50px">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <strong> {{ message }} </strong>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    {% comment %} clese alert messages after 3 secconds {% endcomment %}
    <script>
      setTimeout (() => {
        $(".alert").alert("close");
      }, 3000)
    </script>
    
    {% block content %}



    {% endblock content %}


    <!--Footer-->
    <footer id="footer">
        <div class="newsletter-section">
            <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-end align-items-center">
                            <div class="footer-social">
                                <ul class="list--inline site-footer__social-icons social-icons">
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>    
        </div>

        
        <div class="site-footer">
        	<div class="container">
     			<!--Footer Links-->
            	<div class="footer-top">
                	<div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 footer-links">
                        	<h4 class="h4">Informations</h4>
                            <ul>
                            	<li><a href="{% url 'core:aboutus' %}">About us</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 footer-links">
                        	<h4 class="h4">Customer Services</h4>
                            <ul>
                                <li><a href="{% url 'core:contact' %}">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 contact-box">
                        	<h4 class="h4">Contact Us</h4>
                            <ul class="addressFooter">
                                <li class="phone"><i class="icon anm anm-phone-s"></i><p>+(440) 219 331 4440</p></li>
                                <li class="email"><i class="icon anm anm-envelope-l"></i><p>FitFinder@ecom.net</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Footer Links-->
                <hr>
                <div class="footer-bottom">
                	<div class="row">
                    	<!--Footer Payment Icon-->
                        <div class="col-12 col-sm-12 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-md-center">
                        	<ul class="payment-icons list--inline">
                        		<li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                                <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                        <!--End Footer Payment Icon-->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    
     <!-- Including Jquery -->
     <script src="{% static 'assets/js/vendor/jquery-3.3.1.min.js' %}"></script>
     <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
     <script src="{% static 'assets/js/vendor/jquery.cookie.js' %}"></script>
     <script src="{% static 'assets/js/vendor/wow.min.js' %}"></script>
     <!-- Including Javascript -->
     <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'assets/js/plugins.js' %}"></script>
     <script src="{% static 'assets/js/popper.min.js' %}"></script>
     <script src="{% static 'assets/js/lazysizes.js' %}"></script>
     <script src="{% static 'assets/js/main.js' %}"></script>
     <script src="{% static 'assets/js/function.js' %}"></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</div>
</body>

</html>