{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Home slider-->
    	<div class="slideshow slideshow-wrapper pb-section sliderFull">
        	<div class="home-slideshow">
            	<div class="slide">
                	<div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img" data-src="{% static 'assets/images/slideshow-banners/belle-banner1.jpg' %}" src="{% static 'assets/images/slideshow-banners/belle-banner1.jpg' %}" alt="Shop Our New Collection" title="Shop Our New Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                        <h2 class="h1 mega-title slideshow__title">Shop Our New Collection</h2>
                                        <span class="mega-subtitle slideshow__subtitle">From Hight to low, classic or modern. We have you covered</span>
                                        <a href="{% url 'core:product-list' %}" class="btn">Shop now</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Home slider-->
        <!--Collection Tab slider-->
        <div class="tab-slider-product section">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-header text-center">
                            <h2 class="h2">New Arrivals</h2>
                            <p>Browse the huge variety of our products</p>
                        </div>
                        <div class="tabs-listing">
                            
                            <div class="tab_container">

                                <div id="tab1" class="tab_content grid-products">
                                    <div class="productSlider">

                                        {% for p in products %}
                                            {% comment %} {% if "Men" in p.category %} {% endcomment %}
                                                <div class="col-12 item">
                                                    <!-- start product image -->
                                                    <div class="product-image">
                                                        <!-- start product image -->
                                                        <a href="{% url 'core:product-detail' p.pid %}">
                                                            <!-- image -->
                                                            <img class="primary blur-up lazyload" data-src="{{ p.image.url }}" alt="image" title="{{ p.title }}">
                                                            <!-- End image -->
                                                            <!-- Hover image -->
                                                            <img class="hover blur-up lazyload" data-src="{{ p.image.url }}" alt="image" title="{{ p.title }}">
                                                            <!-- End hover image -->
                                                            <!-- product label -->
                                                            <div class="product-labels rectangular"><span class="lbl on-sale">-{{ p.get_precentage|floatformat:0 }}%</span> <span class="lbl pr-label1">New</span></div>
                                                            <!-- End product label -->
                                                        </a>
                                                        <!-- end product image -->
                                                    
                                                        <!-- Start product button -->
                                                        <div class="variants add">
                                                            <div class="product-form__item--submit">
                                                                <input type="hidden" id="Quantity-{{ p.id }}" value="1" class="product-quantity-{{ p.id }}">
                                                                <input type="hidden" id="product-pid-{{ p.id }}" class="product-pid-{{ p.id }}" value="{{ p.pid }}">
                                                                <input type="hidden" class="product-image-{{ p.id }}" id="product-image-{{ p.id }}" value="{{ p.image.url }}">
                                                                <input type="hidden" class="product-id-{{ p.id }}" id="product-id-{{ p.id }}" value="{{ p.id }}">
                                                                <input type="hidden" class="product-title-{{ p.id }}" id="product-title-{{ p.id }}" value="{{ p.title }}">
                                                                <input type="hidden" class="current-price-{{ p.id }}" id="current-price-{{ p.id }}" value="{{ p.price }}">
                                                                <button type="submit" id="add_to_cart_btn" class="btn add_to_cart_btn" data-index="{{ p.id }}">Add To Cart</button>
                                                            </div>
                                                        </div>
                                                        <div class="button-set">
                                                            <div class="wishlist-btn">
                                                                <a class="wishlist add-to-wishlist" href="wishlist.html">
                                                                    <i class="icon anm anm-heart-l"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- end product button -->
                                                    </div>
                                                    <!-- end product image -->
                                                    <!--start product details -->
                                                    <div class="product-details text-center">
                                                        <!-- product name -->
                                                        <div class="product-name">
                                                            <a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a>
                                                        </div>
                                                        <!-- End product name -->
                                                        <!-- product price -->
                                                        <div class="product-price">
                                                            <span class="old-price">${{ p.old_price }}</span>
                                                            <span>$</span><span class="current-price-{{ p.id }}">{{ p.price }}</span>
                                                        </div>
                                                        <!-- End product price -->

                                                        <div class="product-review">
                                                            <i class="font-13 fa fa-star"></i>
                                                            <i class="font-13 fa fa-star"></i>
                                                            <i class="font-13 fa fa-star"></i>
                                                            <i class="font-13 fa fa-star-o"></i>
                                                            <i class="font-13 fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                    <!-- End product details -->
                                                </div>
                                            {% comment %} {% endif %} {% endcomment %}
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            	</div>    
            </div>
        </div>

        <hr>
        
        <!--Collection Box slider-->
        <div class="collection-box section">
			<div class="collection-grid">
                <!-- Collection Box slider -->
                    {% for c in categories %}
                        <div class="collection-grid-item">
                            <a href="{% url 'core:category-product-list' c.cid %}">
                                <img data-src="{{ c.image.url }}" src="{{ c.image.url }}" alt="{{ c.title }}" class="blur-up lazyload" style="height: 200px;">
                                <div class="collection-grid-item__title-wrapper">
                                    <h3 class="collection-grid-item__title btn btn--secondary no-border">{{ c.title }}</h3>
                                </div>
                            </a>
                        </div>
                    {% endfor %}    
                <!--End Collection Box slider-->
            </div>
        </div>
        <!--End Collection Box slider-->

        <!--Logo Slider-->
        <div class="section logo-section">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                		<div class="logo-bar">
                    <div class="logo-bar__item">
                        <img src="{% static 'assets/images/logo/brandlogo1.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'assets/images/logo/brandlogo2.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'assets/images/logo/brandlogo3.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'assets/images/logo/brandlogo4.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'assets/images/logo/brandlogo5.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'assets/images/logo/brandlogo6.png' %}" alt="" title="" />
                    </div>
                </div>
                	</div>
                </div>
            </div>
        </div>
        <!--End Logo Slider-->
        
        <!--Latest Blog-->
        <div class="latest-blog section pt-0">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
        				<div class="section-header text-center">
      						<h2 class="h2">Latest From our Blog</h2>
					    </div>
            		</div>
                </div>
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    	<div class="wrap-blog">
                        	<a href="blog-left-sidebar.html" class="article__grid-image">
              					<img src="{% static 'assets/images/blog/post-img1.jpg' %}" alt="It's all about how you wear" title="It's all about how you wear" class="blur-up lazyloaded"/>
				            </a>
                            <div class="article__grid-meta article__grid-meta--has-image">
                                <div class="wrap-blog-inner">
                                    <h2 class="h3 article__title">
                                      <a href="blog-left-sidebar.html">It's all about how you wear</a>
                                    </h2>
                                    <span class="article__date">May 02, 2017</span>
                                    <div class="rte article__grid-excerpt">
                                        I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account...
                                    </div>
                                    <ul class="list--inline article__meta-buttons">
                                    	<li><a href="blog-article.html">Read more</a></li>
                                    </ul>
                                </div>
							</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    	<div class="wrap-blog">
                        	<a href="blog-left-sidebar.html" class="article__grid-image">
              					<img src="{% static 'assets/images/blog/post-img2.jpg' %}" alt="27 Days of Spring Fashion Recap" title="27 Days of Spring Fashion Recap" class="blur-up lazyloaded"/>
				            </a>
                            <div class="article__grid-meta article__grid-meta--has-image">
                                <div class="wrap-blog-inner">
                                    <h2 class="h3 article__title">
                                      <a href="blog-right-sidebar.html">27 Days of Spring Fashion Recap</a>
                                    </h2>
                                    <span class="article__date">May 02, 2017</span>
                                    <div class="rte article__grid-excerpt">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab...
                                    </div>
                                    <ul class="list--inline article__meta-buttons">
                                    	<li><a href="blog-article.html">Read more</a></li>
                                    </ul>
                                </div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Latest Blog-->
        
        <!--Store Feature-->
        <div class="store-feature section">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    	<ul class="display-table store-info">
                        	<li class="display-table-cell">
                            	<i class="icon anm anm-truck-l"></i>
                            	<h5>Free Shipping &amp; Return</h5>
                            	<span class="sub-text">Free shipping on all US orders</span>
                            </li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-dollar-sign-r"></i>
                                <h5>Money Guarantee</h5>
                                <span class="sub-text">30 days money back guarantee</span>
                          	</li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-comments-l"></i>
                                <h5>Online Support</h5>
                                <span class="sub-text">We support online 24/7 on day</span>
                            </li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-credit-card-front-r"></i>
                                <h5>Secure Payments</h5>
                                <span class="sub-text">All payment are Secured and trusted.</span>
                        	</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Store Feature-->
    </div>
    <!--End Body Content-->
    
{% endblock content %}