{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Hello! {{request.user|title}}, Welcome to Your Account</h1></div>
      		</div>
		</div>
        <!--End Page Title-->

        <div class="container">
                <div class="col-12">
                    <h2>Your Order Details</h2>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="center">ID</th>
                                    <th class="center">Image</th>
                                    <th class="center">Product Name</th>
                                    <th class="center">Qty</th>
                                    <th class="center">Price</th>
                                    <th class="center">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for items in order_items %}
                                <tr>
                                    <td class="center">{{ items.id }}</td>
                                    <td class="center"><img src="{{ items.image }}" width="50px" height="50px"></td>
                                    <td class="center">{{ items.item }}</td>
                                    <td class="center">{{ items.quantity }}</td>
                                    <td class="center">${{ items.price }}</td>
                                    <td class="center">${{ items.total }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                            
                    		<tfoot>
                                <tr>
                                    <td colspan="3" class="text-left"><a href="{% url 'core:dashboard' %}" class="btn--link cart-continue"><i class="icon icon-arrow-circle-left"></i> Back To Dashboard</a></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                
        </div>

    </div>
<!--End Body Content-->

{% endblock content %}