{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

        <!--Body Content-->
        <div id="page-content">
            <!--MainContent-->
            <div id="MainContent" class="main-content" role="main">
                <!--Breadcrumb-->
                <div class="bredcrumbWrap">
                    <div class="container breadcrumbs">
                        <a href="index.html" title="Back to the home page">Home</a><span aria-hidden="true">›</span><span>Product Detail View</span>
                    </div>
                </div>
                <!--End Breadcrumb-->
                
                <div id="ProductSection-product-template" class="product-template__container prstyle1 container">
                    <!--product-single-->
                    <div class="product-single">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product-details-img">
                                    <div class="product-thumb">
                                        <div id="gallery" class="product-dec-slider-2 product-tab-left">
                                            {% for p in product_images %}
                                            <a data-image="{{ p.images.url }}" data-zoom-image="{{ p.images.url }}" class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                                                <img class="blur-up lazyload" src="{{ p.images.url }}" alt="" />
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="zoompro-wrap product-zoom-right pl-20">
                                        <div class="zoompro-span">
                                            <img class="blur-up lazyload zoompro" data-zoom-image="{{ product.image.url }}" alt="" src="{{ product.image.url }}" />
                                        </div>
                                        <div class="product-labels"><span class="lbl on-sale">Sale</span><span class="lbl pr-label1">new</span></div>
                                        <div class="product-buttons">
                                            <a href="#" class="btn popup-video" title="View Video"><i class="icon anm anm-play-r" aria-hidden="true"></i></a>
                                            <a href="#" class="btn prlightbox" title="Zoom"><i class="icon anm anm-expand-l-arrows" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="lightboximages">
                                        
                                        <a href="{{ product.image.url }}" data-size="1462x2048"></a>
                                        {% for p in product_images %}
                                        <a href="product_images.images.url" data-size="1462x2048"></a>
                                        {% endfor %}
                                    
                                    </div>
        
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="product-single__meta">
                                        <h1 class="product-single__title">{{ product.title }}</h1>
                                        <div class="prInfoRow">
                                            <div class="product-stock"> <span class="instock ">In Stock</span> <span class="outstock hide">Unavailable</span> </div>
                                            <div class="product-sku">SKU: <span class="variant-sku">{{ product.sku }}</span></div>
                                            <div class="product-review"><a class="reviewLink" href="#tab2">
                                                {% for r in reviews %}
                                                    {% for s in r.rating|ljust:r.rating %}
                                                        <i class="fa fa-star "></i>
                                                    {% endfor %}
                                                {% endfor %}
                                                <span class="spr-badge-caption">{{ reviews.count }} reviews</span></a></div>
                                        </div>
                                        <div class="prInfoRow">
                                            <div class="product-sku">Vendor: <span class="variant-sku">{{ product.vendor.title }}</span></div>
                                            <div class="product-sku">Tags: {% for tag in product.tags.all %} <a href="{% url 'core:tags' tag.slug %}"> #{{ tag.name }} </a> | {% endfor %}</div>
                                        </div>
                                        <p class="product-single__price product-single__price-product-template">
                                            <span class="visually-hidden">Regular price</span>
                                            <s id="ComparePrice-product-template"><span class="money" id="old-price">${{ product.old_price }}</span></s>
                                            <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                                <span id="ProductPrice-product-template"><span>$</span><span class="money" id="current-price">{{ product.price }}</span></span>
                                            </span>
                                            <span class="discount-badge"> <span class="devider">|</span>&nbsp;
                                                <span>You Save</span>
                                                <span id="SaveAmount-product-template" class="product-single__save-amount">
                                                </span>
                                                <span class="off"><span>-{{ product.get_precentage|floatformat:0 }}%</span></span>
                                            </span>  
                                        </p>
                                        <div id="quantity_message">Hurry! Only  <span class="items">{{ product.stock_count }}</span>  left in stock. &nbsp;</div>
                                        
                                        <!-- Product Action -->
                                        <div class="product-action clearfix">
                                            <div class="product-form__item--quantity">
                                                <div class="wrapQtyBtn">
                                                    <div class="qtyField">
                                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                        <input type="text" id="Quantity-{{ product.id }}" name="product-quantity" value="1" class="product-form__input qty">
                                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>                                
                                            <div class="product-form__item--submit">
                                                <input type="hidden" id="product-pid-{{ product.id }}" class="product-pid-{{ product.id }}" value="{{ product.pid }}">
                                                <input type="hidden" class="product-image-{{ product.id }}" id="product-image-{{ product.id }}" value="{{ product.image.url }}">
                                                <input type="hidden" class="product-id-{{ product.id }}" id="product-id-{{ product.id }}" value="{{ product.id }}">
                                                <input type="hidden" class="product-title-{{ product.id }}" id="product-title-{{ product.id }}" value="{{ product.title }}">
                                                <input type="hidden" class="current-price-{{ product.id }}" id="current-price-{{ product.id }}" value="{{ product.price }}">
                                                <button class="btn add_to_cart_btn" data-index="{{ product.id }}" type="submit" id="add_to_cart_btn">Add To Cart</button>
                                            </div>

                                            <div class="shopify-payment-button" data-shopify="payment-button">
                                                <button type="button" class="shopify-payment-button__button shopify-payment-button__button--unbranded">Buy it now</button>
                                            </div>

                                        </div>
                                        <!-- End Product Action -->

                                    <div class="display-table shareRow">
                                            
                                        <div class="display-table-cell medium-up--one-third">
                                        
                                            <div class="wishlist-btn">
                                                    <a class="wishlist add-to-wishlist" data-product-item="{{ product.id }}" title="Add to Wishlist"><i class="icon anm anm-heart-l" aria-hidden="true"></i><span>Add to Wishlist</span></a>
                                                </div>
                                        
                                            </div>

                                            <div class="display-table-cell text-right">
                                                <p class="shippingMsg"><i class="fa fa-clock-o" aria-hidden="true"></i> ESTIMATED DELIVERY TAKES <b id="fromDate">7</b> to <b id="toDate">14 DAYS</b>.</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                        </div>
                    </div>
                    <!--End-product-single-->
                    <hr>
                    <!--Product Fearure-->
                    <div class="prFeatures">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 feature">
                                <img src="{% static 'assets/images/credit-card.png' %}" alt="Safe Payment" title="Safe Payment" />
                                <div class="details"><h3>Safe Payment</h3>Pay with the world's most payment methods.</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 feature">
                                <img src="{% static 'assets/images/shield.png' %}" alt="Confidence" title="Confidence" />
                                <div class="details"><h3>Confidence</h3>Protection covers your purchase and personal data.</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 feature">
                                <img src="{% static 'assets/images/worldwide.png' %}" alt="Worldwide Delivery" title="Worldwide Delivery" />
                                <div class="details"><h3>Worldwide Delivery</h3>FREE &amp; fast shipping to over 200+ countries &amp; regions.</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 feature">
                                <img src="{% static 'assets/images/phone-call.png' %}" alt="Hotline" title="Hotline" />
                                <div class="details"><h3>Hotline</h3>Talk to help line for your question on 4141 456 789, 4125 666 888</div>
                            </div>
                        </div>
                    </div>
                    <!--End Product Fearure-->
                    <hr>
                    <br>
                    <!--Product Tabs-->
                    <div class="tabs-listing">
                        <ul class="product-tabs">
                            <li rel="tab1"><a class="tablink"><strong>Product Details</strong></a></li>
                            <li rel="tab5"><a class="tablink"><strong>Product Specification</strong></a></li>
                            <li rel="tab2"><a class="tablink"><strong>Product Reviews</strong></a></li>
                            <li rel="tab3"><a class="tablink"><strong>Size Chart</strong></a></li>
                            <li rel="tab4"><a class="tablink"><strong>Shipping &amp; Returns</strong></a></li>
                        </ul>
                        <br>
                        <div class="tab-container">
                            <div id="tab1" class="tab-content">
                                <div class="product-description rte">
                                    <h3>PRODUCT DESCRIPTION</h3>
                                    <p>{{ product.description|safe }}</p>
                                </div>
                            </div>
                            
                            <div id="tab2" class="tab-content">
                                <div id="shopify-product-reviews">
                                    <div class="spr-container">
                                        <div class="spr-header clearfix">
                                            <div class="spr-summary">
                                                <span class="product-review">
                                                {% for r in reviews %}
                                                    {% for s in r.rating|ljust:r.rating %}
                                                        <i class="fa fa-star "></i>
                                                    {% endfor %}
                                                {% endfor %}
                                                    <span class="spr-summary-actions-togglereviews">Based on {{ reviews.count }} reviews {{ average_rating.rating|floatformat:2 }} out of 5.0 </span></span>
                                            </div>
                                        </div>
                                        <div class="spr-content">
                                            <div class="spr-form clearfix">
                                                
                                                {% comment %} Add Review Form {% endcomment %}

                                                {% if request.user.is_authenticated%}
                                                {% if make_review %}
                                                    <form method="POST" action="{% url 'core:add-review' product.pid %}" id="new-review-form hidden-comment-form" class="new-review-form">
                                                    {% csrf_token %}
                                                    <h3 class="spr-form-title">Write a review</h3>
                                                    <strong class="text-success" id="review-success"></strong>
                                                    <fieldset class="spr-form-review-body">
                                                    {{ review_form }}
                                                    </fieldset>
                                                    <fieldset class="spr-form-actions">
                                                        <input type="submit" class="spr-button spr-button-primary button button-primary btn btn-primary" value="Submit Review">
                                                    </fieldset>
                                                    </form>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="spr-reviews">
                                                {% for r in reviews %}
                                                <div class="spr-review">
                                                    <div class="spr-review-header">
                                                        <span class="product-review spr-starratings spr-review-header-starratings">
                                                            <span class="reviewLink">
                                                                {% for s in r.rating|ljust:r.rating %}
                                                                    <i class="fa fa-star text-warning "></i>
                                                                {% endfor %}
                                                            </span>
                                                        </span>
                                                        <h4 class="spr-review-header-title">{{ r.user.username|title }}</h4>
                                                        <span class="spr-review-header-byline"><strong>{{ r.date|date:"d M, Y" }}</strong></span>
                                                    </div>
                                                    
                                                    <div class="spr-review-content">
                                                        <p class="spr-review-content-body">{{ r.review }}</p>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            
                            <div id="tab3" class="tab-content">
                                <h3>WOMEN'S BODY SIZING CHART</h3>
                                <table>
                                  <tbody>
                                    <tr>
                                      <th>Size</th>
                                      <th>XS</th>
                                      <th>S</th>
                                      <th>M</th>
                                      <th>L</th>
                                      <th>XL</th>
                                    </tr>
                                    <tr>
                                      <td>Chest</td>
                                      <td>31" - 33"</td>
                                      <td>33" - 35"</td>
                                      <td>35" - 37"</td>
                                      <td>37" - 39"</td>
                                      <td>39" - 42"</td>
                                    </tr>
                                    <tr>
                                      <td>Waist</td>
                                      <td>24" - 26"</td>
                                      <td>26" - 28"</td>
                                      <td>28" - 30"</td>
                                      <td>30" - 32"</td>
                                      <td>32" - 35"</td>
                                    </tr>
                                    <tr>
                                      <td>Hip</td>
                                      <td>34" - 36"</td>
                                      <td>36" - 38"</td>
                                      <td>38" - 40"</td>
                                      <td>40" - 42"</td>
                                      <td>42" - 44"</td>
                                    </tr>
                                    <tr>
                                      <td>Regular inseam</td>
                                      <td>30"</td>
                                      <td>30½"</td>
                                      <td>31"</td>
                                      <td>31½"</td>
                                      <td>32"</td>
                                    </tr>
                                    <tr>
                                      <td>Long (Tall) Inseam</td>
                                      <td>31½"</td>
                                      <td>32"</td>
                                      <td>32½"</td>
                                      <td>33"</td>
                                      <td>33½"</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <h3>MEN'S BODY SIZING CHART</h3>
                                <table>
                                  <tbody>
                                    <tr>
                                      <th>Size</th>
                                      <th>XS</th>
                                      <th>S</th>
                                      <th>M</th>
                                      <th>L</th>
                                      <th>XL</th>
                                      <th>XXL</th>
                                    </tr>
                                    <tr>
                                      <td>Chest</td>
                                      <td>33" - 36"</td>
                                      <td>36" - 39"</td>
                                      <td>39" - 41"</td>
                                      <td>41" - 43"</td>
                                      <td>43" - 46"</td>
                                      <td>46" - 49"</td>
                                    </tr>
                                    <tr>
                                      <td>Waist</td>
                                      <td>27" - 30"</td>
                                      <td>30" - 33"</td>
                                      <td>33" - 35"</td>
                                      <td>36" - 38"</td>
                                      <td>38" - 42"</td>
                                      <td>42" - 45"</td>
                                    </tr>
                                    <tr>
                                      <td>Hip</td>
                                      <td>33" - 36"</td>
                                      <td>36" - 39"</td>
                                      <td>39" - 41"</td>
                                      <td>41" - 43"</td>
                                      <td>43" - 46"</td>
                                      <td>46" - 49"</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="text-center">
                                    <img src="{% static 'assets/images/size.jpg' %}" alt="" />
                                </div></div>
                            
                            <div id="tab4" class="tab-content">
                                <h3>Returns Policy</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eros justo, accumsan non dui sit amet. Phasellus semper volutpat mi sed imperdiet. Ut odio lectus, vulputate non ex non, mattis sollicitudin purus. Mauris consequat justo a enim interdum, in consequat dolor accumsan. Nulla iaculis diam purus, ut vehicula leo efficitur at.</p>
                                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In blandit nunc enim, sit amet pharetra erat aliquet ac.</p>
                                <h4>Shipping</h4>
                                <p>Pellentesque ultrices ut sem sit amet lacinia. Sed nisi dui, ultrices ut turpis pulvinar. Sed fringilla ex eget lorem consectetur, consectetur blandit lacus varius. Duis vel scelerisque elit, et vestibulum metus.  Integer sit amet tincidunt tortor. Ut lacinia ullamcorper massa, a fermentum arcu vehicula ut. Ut efficitur faucibus dui Nullam tristique dolor eget turpis consequat varius. Quisque a interdum augue. Nam ut nibh mauris.</p></div>
                        
                            </div>
                            <div id="tab5" class="tab-content">
                                <h3>PRODUCT SPECIFICATION</h3>
                                <p>{{ product.specification|safe }}</p>
                            </div>
                    </div>
                    <!--End Product Tabs-->
                    
                    <br>
                    <hr>

                    <!--Related Product Slider-->
                    {% if products %}
                    <div class="related-product grid-products">
                        <header class="section-header">
                            <h2 class="section-header__title text-center h2"><span>Related Products</span></h2>
                        </header>
                        <div class="productPageSlider">
                            
                            {% for p in products %}
                            <div class="col-12 item">
                                <!-- start product image -->
                                <div class="product-image">
                                    <!-- start product image -->
                                    <a href="{% url 'core:product-detail' p.pid %}">
                                        <!-- image -->
                                        <img class="primary blur-up lazyload" src="{{ p.image.url }}" alt="image" >
                                        <!-- End image -->
                                        <!-- Hover image -->
                                        <img class="hover blur-up lazyload"  src="{{ p.image.url }}" alt="image" >
                                        <!-- End hover image -->
                                        <!-- product label -->
                                        <div class="product-labels rectangular"><span class="lbl on-sale">-{{ p.get_precentage|floatformat:0 }}%</span> <span class="lbl pr-label1">new</span></div>
                                        <!-- End product label -->
                                    </a>
                                    <!-- end product image -->
        
                                    <!-- Start product button -->
                                    <div class="button-set">
                                        <a href="#" title="Quick View" class="quick-view" tabindex="0">
                                            <i class="icon anm anm-search-plus-r"></i>
                                        </a>
                                    </div>
                                    <!-- end product button -->
                                </div>
                                <!-- end product image -->
                                <!--start product details -->
                                <div class="product-details text-center">
                                    <!-- product name -->
                                    <div class="product-name">
                                        <a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a>
                                    </div>
                                    <!-- End product name -->
                                    <!-- product price -->
                                    <div class="product-price">
                                        <span class="old-price">${{ p.old_price }}</span>
                                        <span class="price">${{ p.price }}</span>
                                    </div>
                                    <!-- End product price -->
                                    
                                </div>
                                <!-- End product details -->
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    {% endif %}
                    <!--End Related Product Slider-->

                    <br>
                    <hr>
                    
                <!--#ProductSection-product-template-->
            </div>
            <!--MainContent-->
        </div>
    	<!--End Body Content-->
    
{% endblock content %}