{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    
    <!--Body Content-->
    <div id="page-content">
    	
        <!--Collection Banner-->
    	<div class="collection-header">
			<div class="collection-hero">
        		<div class="collection-hero__image"><img class="blur-up lazyload" src="{% static 'assets/images/cat-women3.jpg' %}" alt="Women" title="Women" /></div>
        		<div class="collection-hero__title-wrapper"><h1 class="collection-hero__title page-width">Shop Products</h1></div>
      		</div>
		</div>
        <!--End Collection Banner-->
        
        <hr>        
        
        <div class="container-fluid">
        	<div class="row">
            	<!--Sidebar-->
            	<div class="col-12 col-sm-12 col-md-3 col-lg-2 sidebar filterbar">
                	<div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                	<div class="sidebar_tags">
                    	<!--Categories-->
                    	<div class="sidebar_widget categories filter-widget">
                            <div class="widget-title"><h2>Categories</h2></div>
                            <div class="widget-content">
                                <ul class="sidebar_categories">
                                    {% for c in categories %}
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" data-filter="category" class="form-check-input filter-checkbox" name="checkbox" id="checkboxcategory" value="{{ c.cid }}">
                                            <li class="lvl-1"><a href="{% url 'core:category-product-list' c.cid %}" class="site-nav">{{ c.title }}</a></li>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--Categories-->
                        <!--Vednors-->
                    	<div class="sidebar_widget categories filter-widget">
                            <div class="widget-title"><h2>Brands</h2></div>
                            <div class="widget-content">
                                <ul class="sidebar_categories">
                                    {% for v in vendors %}
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" data-filter="vendor" class="form-check-input filter-checkbox" name="checkbox" id="checkboxvendor" value="{{ v.vid }}">
                                            <li class="lvl-1"><a href="{% url 'core:vendor-detail' v.vid %}" class="site-nav">{{ v.title }}</a></li>
                                        </label>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--Vendors-->
                    </div>
                </div>
                <!--End Sidebar-->
                
                <!--Main Content-->
                <div class="col-12 col-sm-12 col-md-9 col-lg-10 main-col">
                	<div class="productList">
                    	<!--Toolbar-->
                        <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
                    	<div class="toolbar">
                        	<div class="filters-toolbar-wrapper">
                            	<div class="row">
                                    <div class="col text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                                    	<span class="filters-toolbar__product-count">Showing: {{products.count}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Toolbar-->
                        
                        <div class="grid-products grid--view-items" id="filtered-product">
                            <div class="row">
                                
                                {% for p in products %}

                                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 grid-view-item style2 item">
                                    <div class="grid-view_image">
                                        <!-- start product image -->
                                        <a href="{% url 'core:product-detail' p.pid %}" class="grid-view-item__link">
                                            <!-- image -->
                                            <img class="grid-view-item__image primary blur-up lazyload" src="{{ p.image.url }}" alt="image" />
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="grid-view-item__image hover blur-up lazyload" src="{{ p.image.url }}" alt="image" />
                                            <!-- End hover image -->
                                            <!-- product label -->
                                            <div class="product-labels rectangular"><span class="lbl on-sale">-{{ p.get_precentage|floatformat:0 }}%</span> <span class="lbl pr-label1">new</span></div>
                                            <!-- End product label -->
                                        </a>
                                        <!-- end product image -->
                                        <!--start product details -->
                                        <div class="product-details hoverDetails text-center mobile">
                                            <!-- product name -->
                                            <div class="product-name">
                                                <a href="{% url 'core:product-detail' p.pid %}" >{{ p.title }}</a>
                                            </div>
                                            <!-- End product name -->
                                            <!-- product price -->
                                            <div class="product-price">
                                                <span class="old-price">${{ p.old_price}}</span>
                                                <span class="price">${{ p.price }}</span>
                                            </div>
                                            <!-- End product price -->
                                            <div class="product-review">
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                            </div>
                                            <!-- product button -->
                                            <div class="button-set">
                                                <a href="{% url 'core:product-detail' p.pid %}" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                                        <i class="icon anm anm-search-plus-r"></i>
                                                    </a>
                                                <!-- Start product button -->
                                                <form action="#" method="post">
                                                    <button class="btn btn--secondary cartIcon btn-addto-cart" type="button"><i class="icon anm anm-bag-l"></i></button>
                                                </form>
                                                <div class="wishlist-btn">
                                                    <a class="wishlist add-to-wishlist" href="#" title="Add to Wishlist">
                                                        <i class="icon anm anm-heart-l"></i>
                                                    </a>
                                                </div>
                                                <div class="compare-btn">
                                                    <a class="compare add-to-compare" href="#" title="Add to Compare">
                                                        <i class="icon anm anm-random-r"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- End product button -->
                                        </div>
                                        <!-- End product details -->
                                     </div>
                                    </div>
                                
                                {% endfor %}
                            
                            </div>
                        </div>

                    </div>
                </div>
                <!--End Main Content-->
            </div>
        </div>

    </div>
    <!--End Body Content-->
    
{% endblock content %}