{% extends 'partials/base.html' %}
{% load static %}
{% block content %} 


<!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Style Recommendation</h1></div>
      		</div>
		</div>

        <body>
            <div class="container">
                <h2>Find Your Style</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Get Recommendation</button>
                </form>
                {% if recommendation %}
                    <div>
                        <p>{{ recommendation }}</p>
                    </div>
                {% endif %}
            </div>
        </body>
        
    </div>
<!--End Body Content-->

    
{% endblock content %}