{% extends 'partials/base.html' %}
{% load static %}
{% block content %}    


    <!--Body Content-->
    <div id="page-content thread-detail-page">
    	<!--Page Title-->
    	<div class="page section-header text-center mb-0">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Thread Article</h1></div>
      		</div>
		</div>
        <!--End Page Title-->

        {% if request.user.is_authenticated %}
        {% if request.user == thread.user %}

        <div class="row justify-content-center my-4">
            <div class="col-12 text-center customer-box returning-customer">
                <h3>Want to Delete Your Thread? 
                    <a style="border:none" href="{% url 'core:remove-thread' thread.tid %}" 
                       class="text-white text-decoration-underline"
                       onclick="return confirmDelete();">
                       Click here
                    </a>
                </h3>
            </div>
        </div>

        {% endif %}
        {% endif %}

        <br/>
        <div class="container">
        	<div class="row">
                <!--Main Content-->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                    <div class="blog--list-view">
                    	<div class="article"> 
                            <!-- Article Image --> 
                            <a class="article_featured-image">
                                <img class="blur-up lazyload" src="{{ thread.image.url }}" style="height:400px">
                            </a> 
                            <h1>{{ thread.title }}</h1>
                            <ul class="publish-detail">                      
                                <li><i class="anm anm-user-al" aria-hidden="true"></i>  {{ thread.user }}</li>
                                <li><i class="icon anm anm-clock-r"></i> <time>{{ thread.date }}</time></li>
                                <li>
                                    <ul class="inline-list">   
                                        <li><i class="icon anm anm-comments-l"></i> <a> {{ thread.comment.count }} comments</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="rte"> 
                                <p>{{ thread.description }}</p>
                            </div>
                            <hr/>
                        </div>

                        <div class="formFeilds contact-form form-vertical">
                        {% if request.user.is_authenticated%}
                          <form method="POST" action="{% url 'core:add-thread-comment' thread.tid %}" id="new-comment-form" class="new-comment-form comment-form">
                            {% csrf_token %}
                              <h2>Leave a comment</h2>
                                    <strong class="text-success" id="comment-success"></strong>
                              <div class="row container">
                                {{ comment_form }}
                              </div>
                              <br/>
                              
                              <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="submit" class="btn" value="Send Message">
                                </div>
                             </div>

                         </form>
                         {% endif %}
                        </div>

                        <div class="spr-comment">
                            {% for c in comments %}
                            <div class="spr-review">
                                <div class="spr-review-header">
                                    <h4 class="spr-review-header-title">{{ c.user.username|title }}</h4>
                                    <span class="spr-review-header-byline"><strong>{{ c.date }}</strong></span>
                                </div>
                                
                                <div class="spr-review-content">
                                    <p class="spr-review-content-body">{{ c.comment }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>


                    </div>
                </div>
                <!--End Main Content-->
            </div>
        </div>
        
    </div>
<!--End Body Content-->

<script>
    function confirmDelete() {
        return confirm('Do you really want to delete this thread?');
    }
</script>


{% endblock content %}