{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center mb-0">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Threads</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <!-- Customer Box -->
        <div class="row justify-content-center my-4">
            <div class="col-12 text-center customer-box returning-customer">
                <h3>Want to Post Your Own Thread? <a href="{% url 'core:create-thread' %}" class="text-white text-decoration-underline">Click here</a></h3>
            </div>
        </div>

        <!-- Cards -->
        <div class="row justify-content-center">
            {% for t in threads %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card">
                        <!-- Article Image -->
                        <a class="article_featured-image" href="{% url 'core:thread-detail' t.tid %}">
                            <img class="blur-up lazyload" src="{{ t.image.url }}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'core:thread-detail' t.tid %}">{{ t.title }}</a></h5>
                            <p class="card-text">{{ t.description|truncatechars:100 }}</p>
                            <a href="{% url 'core:thread-detail' t.tid %}" class="btn btn-primary">Read More</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Posted by {{ t.user }} on {{ t.date|date:"d M, Y" }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
<!--End Body Content-->

{% endblock content %}
