
{% load static %}
<!--Body Content-->
    <div id="page-content cart-list" class="cart-list">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Your cart</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
                	
                		<table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center">Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-right">Total</th>
                                    <th class="action">&nbsp;</th>
                                </tr>
                            </thead>
                    		<tbody>
                                {% for product_id, item in cart_data.items %}
                                <tr class="cart__row border-bottom line1 cart-flex border-top">
                                    <td class="cart__image-wrapper cart-flex-item">
                                        <a href="{% url 'core:product-detail' item.pid %}"><img class="cart__image" src="{{ item.image }}"></a>
                                    </td>
                                    <td class="cart__meta small--text-left cart-flex-item">
                                        <div class="list-view-item__title">
                                            <a href="{% url 'core:product-detail' item.pid %}">{{ item.title }}</a>
                                        </div>
                                        <div class="cart__meta-text">
                                            Color: Navy<br>Size: Small<br>
                                        </div>
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item">
                                        <span class="money">${{item.price|floatformat:2}}</span>
                                    </td>
                                    <td class="cart__update-wrapper cart-flex-item text-right">
                                        <div class="cart__qty text-center">
                                            <div class="qtyField">
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon icon-minus"></i></a>
                                                <input class="cart__qty-input qty" type="text" name="updates[]" id="product-qty-{{ product_id }}" value="{{ item.qty }}" pattern="[0-9]*">
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon icon-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right small--hide cart-price">
                                        <div><span class="money">{% widthratio item.price 1 item.qty %}</span></div>
                                    </td>

                                    <td class="text-center small--hide">
                                        <button type="submit" class="btn btn--secondary update_product" id="update_product" data-product="{{ product_id }}" style="border: none;">
                                            <i class="icon icon anm anm-refresh"></i>
                                        </button>
                                    </td>

                                    <td class="text-center small--hide">
                                        <button type="submit" class="btn btn--secondary delete_product" id="delete_product" data-product="{{ product_id }}" style="border: none;">
                                            <i class="icon icon anm anm-times-l"></i>
                                        </button>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                    		<tfoot>
                                <tr>
                                    <td colspan="3" class="text-left"><a href="{% url 'core:product-list' %}" class="btn--link cart-continue"><i class="icon icon-arrow-circle-left"></i> Continue shopping</a></td>
                                    <td colspan="3" class="text-right"><a href="#" name="update" class="btn--link cart-update"><i class="fa fa-refresh"></i> Update</a></td>
                                </tr>
                            </tfoot>
                    </table>
                    
                    <div class="currencymsg">We processes all orders in USD. While the content of your cart is currently displayed in USD, the checkout will use USD at the most current exchange rate. </div>
                    <br>
                    <div class="currencymsg">We are pleased to offer complimentary worldwide shipping on all our products, ensuring a seamless and cost-effective shopping experience for our global customers. </div>
                    <hr>
                                   
               	</div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                    <div class="solid-border">
                      <div class="row">
                      	<span class="col-12 col-sm-6 cart__subtotal-title"><strong>Subtotal</strong></span>
                        <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">${{ cart_total_amount|floatformat:2 }}</span></span>
                      </div>
                      <br>
                      
                      {% if totalcartitems %}
                        <a href="{% url 'core:checkout' %}" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" style="color: white;">Checkout</a>
                      {% endif %}
                      
                      <div class="paymnet-img"><img src="{% static 'assets/images/payment-img.jpg' %}" alt="Payment"></div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->